# Dependencies
node_modules/

# Environment variables
.env
clearUser.js

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Coverage
coverage/

# Build folders
dist/
build/

# IDE files
.vscode/
.idea/

# Temporary files
tmp/
temp/

# Runtime data
pids
*.pid
*.seed
*.pid.lock

problems.json
convertProblem.js 
allProblems.seed.js